.project-container {
	height: 100vh;
	/* width: 100%; */
	max-width: 100%;
	display: flex;
	/* justify-content: center; */
	flex-direction: column;
	justify-self: center;

	/* padding: 5rem; */
	padding-top: 4rem;
	gap: 5rem;

	position: absolute;
	top: 0px;

	background-color: white;
}

.project {
	max-width: 100%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	gap: 5rem;
}

.project-section {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	width: 65%;
	/* background-color: red; */
	position: relative;
	gap: 1rem;
}