* {
	margin: 0;
}

.wrapper {
	height: 100vh;
	padding-top: 5rem;
}

.hi-to-anyone-whos-looking-at-this {
	text-align: center;
	justify-self: center;
	color: #353535;
	font-family: "Lexend", sans-serif;
}