h1 {
  font-size: clamp(1rem, 3.3vw, 4rem);
	font-family: "THICCC", "Lexend", Arial, Helvetica, sans-serif;
  font-weight: var(--font-extrabold);
}

h2 {
  font-size: clamp(.8rem, 1.1vw, 1.3rem);
	font-family: "EuropaRegular", Arial, Helvetica, sans-serif;
  font-weight: var(--font-normal);
  line-height: 160%;
}

p {
  font-size: 1rem;
	font-family: "EuropaRegular", Arial, Helvetica, sans-serif;
  font-weight: var(--font-normal);
  line-height: 160%;
}

a:not(#pfp) {
  background-position-y: -0%;
  background-image: linear-gradient(180deg, transparent 50%, black 50%) !important;
  transition: background-position-y 0.3s;
  background-size: 2px;
  background-size: auto 190%;
  padding: 3px 0;
  text-decoration: none;
  color: inherit;
}
a:hover:not(#pfp) {
  background-position-y: 100%;
  color: white;
  transition: background-position-y 0.1s;
}

#hero {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

	padding-left: 5vw;
	padding-right: 10vw;
}

/* .parallax-layer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
} */

#hero-layer-1 {
  position: absolute;
  height: 100vh;
  width: 100%;

  background-image: url("../assets/mesh70.png");
  background-size: cover;
  background-position: center;
  background-color: gray;
  transition: filter .2s;
  
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
/* #container:hover #hero-layer-1 {
  filter:blur(4rem);
  transition: filter .2s;
} */

#hero-layer-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  max-height: 100vh;
  gap: 12vw;
}

#pfp {
  min-width: 25%;
  max-width: 35%;
  aspect-ratio: 0.8/1;
  background-color: rgb(204, 204, 204);

  border-top-left-radius: 4.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 4.5rem;
  border-bottom-left-radius: 1rem;

  border-width: 0px;
  flex-grow: 1;

  background-image: url("../assets/pfp1.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.fade-in {
  transform: translate(0, 2rem);
  opacity: 0;
  transition: opacity .6s, transform .5s;
}

#title {
  text-align: left;
}

#bio {
  text-align: justify;
}

#bio-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  gap: 2rem;
}

.subheader {
  font-size: .5rem;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  text-align: center;
}




@media screen and (max-width: 600px) {
  #pfp {
    display: none;
  }
}