#navbar-container {
	position: absolute;
	width: 100vw;
	/* background-color: red; */
	height: 4rem;
	z-index: 100;
	/* background: linear-gradient(rgba(255,255,255, 0.5) 60%, rgba(255,255,255,0)) */
}

#navbar {
	height: 100%;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-left: 5vw;
	padding-right: 10vw;
}

#hero-link {
	font-family: "THICCC", "Lexend", Arial, Helvetica, sans-serif;
	font-weight: var(--font-extrabold);
	font-size: clamp(1rem, 1.1vw, 1.3rem);
}

.other-link {
	font-family: "EuropaRegular", Arial, Helvetica, sans-serif;
	font-weight: var(--font-normal);
	font-size: clamp(.8rem, 1vw, 1.1rem);
}