* {
	margin: 0px;
	/* z-index: 0; */
	/* box-sizing: border-box; */

	/* border-width: 2px;
	border-color: red;
	border-style: dashed; */
}

body {
  color: rgb(34, 34, 34);
}

h1 {
  font-size: clamp(1rem, 3.3vw, 4rem);
	font-family: "THICCC", "Lexend", Arial, Helvetica, sans-serif;
  font-weight: var(--font-extrabold);
}

h2 {
  font-size: clamp(.8rem, 1.1vw, 1.3rem);
	font-family: "EuropaRegular", Arial, Helvetica, sans-serif;
  font-weight: var(--font-normal);
  line-height: 160%;
}

p {
  font-size: 1rem;
	font-family: "EuropaRegular", Arial, Helvetica, sans-serif;
  font-weight: var(--font-normal);
  line-height: 160%;
}

a:not(.pfp) {
  background-position-y: -0%;
  background-image: linear-gradient(180deg, transparent 50%, black 50%);
  transition: background-position-y 0.3s;
  background-size: 2px;
  background-size: auto 190%;
  padding: 3px 0;
  text-decoration: none;
  color: inherit;
}
a:hover:not(.pfp) {
  background-position-y: 100%;
  color: white;
  transition: background-position-y 0.1s;
}

#initBG {
	position: fixed;
	z-index: 1;
	overflow: visible;

	width: 100px;
	aspect-ratio: 1/1;

	border-radius: 50%;
	border-style: solid;
	border-color: rgb(22, 22, 22);
	border-width: 250vh;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);


	background-color: rgb(22, 22, 22);

	display: flex;
	justify-content: center;
	align-items: center;
}

/* Unmodified loading animation can be found at https://css-loaders.com/circle/ */
#loader {
	z-index: 2;
	overflow: visible;
	width: 2rem;
	aspect-ratio: 1;
	position: relative;
	transition: opacity .2s;
}
#loader:before,
#loader:after {
	content: "";
	position: absolute;
	border-radius: 100vh;
	background-color: white;
	animation: l5 2s infinite;
}
#loader:after {
	animation-delay: -1s;
}
@keyframes l5{
	0%    {inset:0    1.3rem 1.3rem 0   }
	12.5% {inset:0    1.3rem 0    0   }
	25%   {inset:1.3rem 1.3rem 0    0   }
	37.5% {inset:1.3rem 0    0    0   }
	50%   {inset:1.3rem 0    0    1.3rem}
	62.5% {inset:0    0    0    1.3rem}
	75%   {inset:0    0    1.3rem 1.3rem}
	87.5% {inset:0    0    1.3rem 0   }
	100%  {inset:0    1.3rem 1.3rem 0   }
  }

#loadingText {
	text-align: center;
	font-family: "DM Sans", Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: white;
	font-weight: 400;
}

/* #logo {
	background-image: none;
}
#logo:hover {
	background-position-y: 0%;
} */