#hero {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

	padding-left: 5vw;
	padding-right: 10vw;
  /* background-color: antiquewhite; */
}

/* .parallax-layer {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
} */

#bg {
  position: absolute;
  height: 100vh;
  width: 100%;

  background-image: url("../assets/mesh70.png");
  background-size: cover;
  background-position: center;
  background-color: gray;
  transition: filter .2s;
  
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;

  z-index: -1;
}

#hero-layer-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  max-height: 100vh;
  gap: 12vw;
  
  margin-bottom: 2rem;
  /* z-index: 1; */
}

.fade-in {
  transform: translate(0, 2rem);
  /* top: 2rem; */
  opacity: 0;
  transition: opacity .6s, transform .5s;
  transition-timing-function: cubic-bezier();
}
.pfp {
  min-width: 25%;
  max-width: 35%;
  aspect-ratio: 0.8/1;
  background-color: rgb(204, 204, 204);

  border-top-left-radius: 3.75vw;
  border-top-right-radius: .8vw;
  border-bottom-right-radius: 3.75vw;
  border-bottom-left-radius: .8vw;

  border-width: 0px;
  flex-grow: 1;

  background-image: url("../../assets/pfp1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  position: relative;


  /* Remember: these 3 rules are just here as duplicates of the .fade-in rules */
  /* transform: translate(0, 2rem); */ /* This transform is the reason that .pfp::after renders above .pfp*/
  /* opacity: 0; */
  /* transition: all .5s; */
}
/* .pfp::before, .pfp::after {
  content:"";
  box-sizing: border-box;
  
  border-top-left-radius: 4.5rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 4.5rem;
  border-bottom-left-radius: 1rem;
  border: 1px solid black;

  height: 100%;
  width: 100%;

  display: block;
  position: absolute;
  z-index: -1;
  transition: opacity .2s, transform .2s;
  opacity: 0;

  pointer-events: none;
} */


/* .pfp::before {
  border: 2px solid rgb(97, 95, 100);
} */
.pfp::after {
  border: 2px solid rgb(77, 76, 80);
}


/* .pfp:hover::before {
  transform: translate(-5%, 5%) scale(1.05);
  opacity: 1;
} */
.pfp:hover::after {
  transform: translate(-10%, 10%) scale(1.1);
  opacity: .6;
}

#title {
  text-align: left;
}

#bio {
  text-align: justify;
}

#bio-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  gap: 2rem;
}

.subheader {
  font-size: .5rem;
  font-family: "DM Sans", Arial, Helvetica, sans-serif;
  text-align: center;
}




@media screen and (max-width: 800px) {
  .pfp {
    width: 100%;
    aspect-ratio: 1/1;
    background-position: bottom;
  }
  #hero-layer-2 {
    flex-direction: column-reverse;
  }
}

#element { 
  position: relative;  /* optional */
  width: 100px;
  height: 100px;
  background-color: blue;
}

#element::after {
  content: "";
  width: 150px;
  height: 150px;
  background-color: red;

  /* create a new stacking context */
  position: absolute;
  z-index: -1;  /* to be below the parent element */
}