#projects-container {
    max-height: 100vh;
    /* height: 100vh; */
    /* max-height: 100%; */
    max-width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;

    padding: 5rem;
    padding-top: 8rem;
    gap: 5rem;
    
    overflow-y: scroll;

    /* background-color: antiquewhite; */
}

#title_proj, #bio_proj {
    text-align: end;
}

#projects {
    max-width: 100%;
    /* background-color: red; */
    /* max-height: 100vh; */
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 12rem;

    gap: 5rem;
}

#transition-cover {
    position: absolute;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    /* background-color: red; */
}

@media screen and (max-width: 600px) {
	#projects-container {
        padding: 2rem;
        padding-top: 5rem;
    }
}