#projects-container {
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;

    padding: 5rem;
    padding-top: 8rem;
    gap: 5rem;
    
    /* background-color: antiquewhite; */
}

#title_proj, #bio_proj {
    text-align: end;
}

#projects {
    max-width: 100%;
    /* background-color: red; */
    height: 100%;
    /* overflow-y: scroll; */
    /* overflow: hidden; */

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 5rem;
}

#transition-cover {
    position: absolute;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    background-color: red;
}